# SQL Essentials

In this course, we will work with the well-known 'Northwind' database through SQLite. The norhwind database has 12 different tables we can query and is a good database for us to practice our SQL skills. The following diagram shows us how these tables are related to one another in our database.

<img src ='Northwind_ERD.png'>


### SQL General Data Types

|Data Type | Description |
|:- | :-: | 
| CHAR(*n*)  | 	Character string. Fixed-length *n*.|
| VARCHAR(*n*) | Character string. Variable length. Maximum length *n*. |
| INT  | Integer numerical (no decimal). Precision 10.|
| SMALLINT  | Integer numerical (no decimal). Precision 5. |
| BIGINT   |  Integer numerical (no decimal). Precision 19. |
| DECIMAL(*p,s*)* | Exact numerical, precision *p*, scale *s*. |
| FLOAT | Approximate numerical. Precision 16.|
|REAL |	Approximate numerical. Precision 7.|
|TEXT	| Holds a string with a maximum length of 65,535 characters.|
| DATETIME	| A date and time combination. Format: YYYY-MM-DD HH:MI:SS|
| IMAGE	| Variable width binary string that holds 2GB data.|
| BIT	| Integer that can be 0, 1, or NULL.|
| MONEY**	| Monetary data from -922,337,203,685,477.5808 to 922,337,203,685,477.5807.|	
 
*Example: decimal(5,2) is a number that has 3 digits before the decimal and 2 digits after the decimal.

** NOT supported in some of sql databases such as Oracle, MySQL.

#### Run the three following cells to get started working with SQLite on Jupyter. Remember that you need to use the magic functions (%sql or %%sql) when trying to run SQL commands; the former is used for single line commands whilst the latter is for multiple lines.

In [1]:
!pip install ipython-sql

Requirement already satisfied: ipython-sql in /home/faeznizam/Documents/anaconda3/lib/python3.8/site-packages (0.4.0)
Requirement already satisfied: prettytable<1 in /home/faeznizam/Documents/anaconda3/lib/python3.8/site-packages (from ipython-sql) (0.7.2)
Requirement already satisfied: sqlalchemy>=0.6.7 in /home/faeznizam/Documents/anaconda3/lib/python3.8/site-packages (from ipython-sql) (1.3.18)
Requirement already satisfied: ipython>=1.0 in /home/faeznizam/Documents/anaconda3/lib/python3.8/site-packages (from ipython-sql) (7.16.1)
Requirement already satisfied: ipython-genutils>=0.1.0 in /home/faeznizam/Documents/anaconda3/lib/python3.8/site-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: six in /home/faeznizam/Documents/anaconda3/lib/python3.8/site-packages (from ipython-sql) (1.15.0)
Requirement already satisfied: sqlparse in /home/faeznizam/Documents/anaconda3/lib/python3.8/site-packages (from ipython-sql) (0.4.1)
Requirement already satisfied: setuptools>=18.5 in /home/faeznizam/Documents/anaconda3/lib/python3.8/site-packages (from ipython>=1.0->ipython-sql) (49.2.0.post20200714)
Requirement already satisfied: prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0 in /home/faeznizam/Documents/anaconda3/lib/python3.8/site-packages (from ipython>=1.0->ipython-sql) (3.0.5)
Requirement already satisfied: decorator in /home/faeznizam/Documents/anaconda3/lib/python3.8/site-packages (from ipython>=1.0->ipython-sql) (4.4.2)
Requirement already satisfied: traitlets>=4.2 in /home/faeznizam/Documents/anaconda3/lib/python3.8/site-packages (from ipython>=1.0->ipython-sql) (4.3.3)
Requirement already satisfied: jedi>=0.10 in /home/faeznizam/Documents/anaconda3/lib/python3.8/site-packages (from ipython>=1.0->ipython-sql) (0.17.1)
Requirement already satisfied: backcall in /home/faeznizam/Documents/anaconda3/lib/python3.8/site-packages (from ipython>=1.0->ipython-sql) (0.2.0)
Requirement already satisfied: pygments in /home/faeznizam/Documents/anaconda3/lib/python3.8/site-packages (from ipython>=1.0->ipython-sql) (2.6.1)
Requirement already satisfied: pickleshare in /home/faeznizam/Documents/anaconda3/lib/python3.8/site-packages (from ipython>=1.0->ipython-sql) (0.7.5)
Requirement already satisfied: pexpect; sys_platform != "win32" in /home/faeznizam/Documents/anaconda3/lib/python3.8/site-packages (from ipython>=1.0->ipython-sql) (4.8.0)
Requirement already satisfied: wcwidth in /home/faeznizam/Documents/anaconda3/lib/python3.8/site-packages (from prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0->ipython>=1.0->ipython-sql) (0.2.5)
Requirement already satisfied: parso<0.8.0,>=0.7.0 in /home/faeznizam/Documents/anaconda3/lib/python3.8/site-packages (from jedi>=0.10->ipython>=1.0->ipython-sql) (0.7.0)
Requirement already satisfied: ptyprocess>=0.5 in /home/faeznizam/Documents/anaconda3/lib/python3.8/site-packages (from pexpect; sys_platform != "win32"->ipython>=1.0->ipython-sql) (0.6.0)

### To add SQL extension

In [2]:
%load_ext sql

### Connect to database

In [3]:
%sql sqlite:///northwind.db

### Data Manipulation Language (DML)

DML is the data manipulation commands in SQL and can be used to retrieve, store, modify, and delete data from database. Examples of DML are SELECT, INSERT, UPDATE, and DELETE.

### SQL keywords are NOT case sensitive: select is the same as SELECT

In [4]:
%sql SELECT sql from sqlite_master WHERE type='table';

 * sqlite:///northwind.db
Done.

[]

### The SELECT statement is used to select data from a database. 
#### The data returned is stored in a result table, called the result-set.

In [5]:
%sql SELECT * FROM Customers;

 * sqlite:///northwind.db
(sqlite3.OperationalError) no such table: Customers
[SQL: SELECT * FROM Customers;]
(Background on this error at: http://sqlalche.me/e/13/e3q8)

#### The following statement returns the columns information stored in table Orders

In [6]:
%sql PRAGMA table_info(Orders);

 * sqlite:///northwind.db
Done.

[]

In [7]:
%sql PRAGMA foreign_key_list(Orders);

 * sqlite:///northwind.db
Done.

[]

### Some database systems require a semicolon at the end of each SQL statement. Semicolon is the standard way to separate each SQL statement in database systems that allow more than one SQL statement to be executed in the same call to the server.

## SELECT Column Example

#### The following SQL statement selects the "CustomerName" and "City" columns from the "Customers" table:

In [8]:
%%sql SELECT CompanyName, City 
FROM Customers;

 * sqlite:///northwind.db
(sqlite3.OperationalError) no such table: Customers
[SQL: SELECT CompanyName, City FROM Customers;]
(Background on this error at: http://sqlalche.me/e/13/e3q8)

## SELECT * Example

### The following SQL statement selects all the columns from the Customers table:

In [9]:
%sql SELECT * FROM Customers;

 * sqlite:///northwind.db
(sqlite3.OperationalError) no such table: Customers
[SQL: SELECT * FROM Customers;]
(Background on this error at: http://sqlalche.me/e/13/e3q8)

## SQL SELECT DISTINCT Statement

### The SELECT DISTINCT statement is used to return only distinct (different) values.
### Inside a table, a column often contains many duplicate values; and sometimes you only want to list the different (distinct) values. 
### The SELECT DISTINCT statement is used to return only distinct (different) values.

In [10]:
%sql SELECT DISTINCT Country FROM Customers

 * sqlite:///northwind.db
(sqlite3.OperationalError) no such table: Customers
[SQL: SELECT DISTINCT Country FROM Customers]
(Background on this error at: http://sqlalche.me/e/13/e3q8)

### The following SQL statement lists the number of different (distinct) customer countries:

In [11]:
%sql SELECT COUNT(DISTINCT Country) FROM Customers;

 * sqlite:///northwind.db
(sqlite3.OperationalError) no such table: Customers
[SQL: SELECT COUNT(DISTINCT Country) FROM Customers;]
(Background on this error at: http://sqlalche.me/e/13/e3q8)

In [12]:
%sql SELECT COUNT(Country) FROM Customers;

 * sqlite:///northwind.db
(sqlite3.OperationalError) no such table: Customers
[SQL: SELECT COUNT(Country) FROM Customers;]
(Background on this error at: http://sqlalche.me/e/13/e3q8)

## SQL Where Clause

### The WHERE clause is used to filter records. The WHERE clause is used to extract only those records that fulfill a specified condition.

#### The following SQL statement selects all the customer from the country "Mexico, in the "Customer" table:

In [13]:
%%sql
SELECT * FROM Customers
WHERE Country='Mexico';

 * sqlite:///northwind.db
(sqlite3.OperationalError) no such table: Customers
[SQL: SELECT * FROM Customers
WHERE Country='Mexico';]
(Background on this error at: http://sqlalche.me/e/13/e3q8)

In [14]:
%%sql
SELECT count(*) FROM Customers;

 * sqlite:///northwind.db
(sqlite3.OperationalError) no such table: Customers
[SQL: SELECT count(*) FROM Customers;]
(Background on this error at: http://sqlalche.me/e/13/e3q8)

In [15]:
%%sql
SELECT count(*) FROM Customers
WHERE Country='Mexico';

 * sqlite:///northwind.db
(sqlite3.OperationalError) no such table: Customers
[SQL: SELECT count(*) FROM Customers
WHERE Country='Mexico';]
(Background on this error at: http://sqlalche.me/e/13/e3q8)

## Text Fields vs. Numeric Fields

### SQL requires single quotes around text values (most database systems will also allow double quotes). However, numeric fields should not be enclosed in quotes:

In [16]:
%%sql
SELECT * FROM Employees
WHERE EmployeeID = 1;

 * sqlite:///northwind.db
(sqlite3.OperationalError) no such table: Employees
[SQL: SELECT * FROM Employees
WHERE EmployeeID = 1;]
(Background on this error at: http://sqlalche.me/e/13/e3q8)

## Operators in the WHERE clause

### The following operators can be used in the WHERE clause:


|Operator | Description |
| :- | :-: | 
| =  | Equal|
| <> | Not equal |
| >  | Greater than|
| <  | Less than |
| >= | Greater than or Equal|
| <= |	Less than or Equal |
|BETWEEN |	Between an inclusive range|
|LIKE	| Search for a pattern|
| IN	| To specify multiple possible values for a column|

## SQL AND, OR and NOT Operators

### The WHERE clause can be combined with logical (AND, OR, and NOT) operators

|AND Operator |
|:-|
| A | B | A and B |
| False  | False | FALSE |
| False | True |FALSE|
| True  | False|FALSE|
| True  | True |TRUE|

|OR Operator |
|:-|
| A | B | A or B |
| False  | False | FALSE |
| False | True |TRUE|
| True  | False|TRUE|
| True  | True |TRUE|

## AND Example
#### The following SQL statement selects all fields from "Customers" where country is "USA" AND Region is "WA":

In [17]:
%%sql 
SELECT * FROM Customers
WHERE Country = 'USA' AND Region = 'WA';

 * sqlite:///northwind.db
(sqlite3.OperationalError) no such table: Customers
[SQL: SELECT * FROM Customers
WHERE Country = 'USA' AND Region = 'WA';]
(Background on this error at: http://sqlalche.me/e/13/e3q8)

## OR Example
### The following SQL statement selects all fields from "Customers" where country is "France" OR "Germany":

In [18]:
%%sql 
SELECT CustomerID,CompanyName,ContactName,Country FROM Customers
WHERE Country='France' OR Country='Germany';

 * sqlite:///northwind.db
(sqlite3.OperationalError) no such table: Customers
[SQL: SELECT CustomerID,CompanyName,ContactName,Country FROM Customers
WHERE Country='France' OR Country='Germany';]
(Background on this error at: http://sqlalche.me/e/13/e3q8)

## NOT Example
#### The following SQL statement selects all fields from "Customers"where country is NOT "USA":

In [19]:
%%sql
SELECT * FROM Customers
WHERE NOT Country='USA';

 * sqlite:///northwind.db
(sqlite3.OperationalError) no such table: Customers
[SQL: SELECT * FROM Customers
WHERE NOT Country='USA';]
(Background on this error at: http://sqlalche.me/e/13/e3q8)

## Combining AND, OR and NOT
#### The following SQL statement selects all fields from "Customers" where country is "USA" AND city must be "Portland" OR "Seattle" (use parenthesis to form complex expressions):

In [20]:
%%sql
SELECT * FROM Customers
WHERE Country='USA' AND (City='Portland' OR City='Seattle');

 * sqlite:///northwind.db
(sqlite3.OperationalError) no such table: Customers
[SQL: SELECT * FROM Customers
WHERE Country='USA' AND (City='Portland' OR City='Seattle');]
(Background on this error at: http://sqlalche.me/e/13/e3q8)

### Exercise 1
#### Write a SQL query that selects all fields from "Customers" where the country is NOT "Germany" and NOT "France":

In [21]:
%%sql
SELECT * FROM Customers
WHERE (NOT Country='Germany') AND (NOT Country='France');

 * sqlite:///northwind.db
(sqlite3.OperationalError) no such table: Customers
[SQL: SELECT * FROM Customers
WHERE (NOT Country='Germany') AND (NOT Country='France');]
(Background on this error at: http://sqlalche.me/e/13/e3q8)

## ORDER BY

The <b>ORDER BY</b> keyword is used to sort the result-set in <i>ascending</i> or <i>descending</i> order.
The ORDER BY keyword sorts the records in ascending order by default. 
To sort the records in descending order, use the <b>DESC</b> keyword.

<code>SELECT column1, column2, ...
FROM table_name
ORDER BY column1, column2, ... ASC|DESC;</code>

#### The following SQL statement selects all customers from the "Customers" table, sorted by the "Country" column:

In [22]:
%%sql
SELECT CompanyName, Country FROM Customers
ORDER BY Country;

 * sqlite:///northwind.db
(sqlite3.OperationalError) no such table: Customers
[SQL: SELECT CompanyName, Country FROM Customers
ORDER BY Country;]
(Background on this error at: http://sqlalche.me/e/13/e3q8)

### Exercise 2
#### Write a SQL statement selects all customers from the "Customers" table, sorted DESCENDING by the "Country" column:

In [23]:
%%sql
SELECT * FROM Customers
ORDER BY Country DESC;

 * sqlite:///northwind.db
(sqlite3.OperationalError) no such table: Customers
[SQL: SELECT * FROM Customers
ORDER BY Country DESC;]
(Background on this error at: http://sqlalche.me/e/13/e3q8)

## ORDER BY Several Columns Example
#### The following SQL statement selects all customers from the "Customers" table, sorted by the "Country" and the "CompanyName" column:

In [24]:
%%sql
SELECT CompanyName,ContactName,Country FROM Customers
ORDER BY Country, CompanyName;

 * sqlite:///northwind.db
(sqlite3.OperationalError) no such table: Customers
[SQL: SELECT CompanyName,ContactName,Country FROM Customers
ORDER BY Country, CompanyName;]
(Background on this error at: http://sqlalche.me/e/13/e3q8)

### Exercise 3
#### Write a SQL statement to select all customers from the "Customers" table, sorted ascending by the "Country" and descending by the "CompanyName" column:

In [25]:
%%sql
SELECT CompanyName,ContactName,Country FROM Customers
ORDER BY Country, CompanyName DESC;

 * sqlite:///northwind.db
(sqlite3.OperationalError) no such table: Customers
[SQL: SELECT CompanyName,ContactName,Country FROM Customers
ORDER BY Country, CompanyName DESC;]
(Background on this error at: http://sqlalche.me/e/13/e3q8)

## INSERT INTO
#### The INSERT INTO statement is used to insert new rows in a table.
##### There are two ways to insert records into a table, the first way is specifying the column names and the values to be inserted.
##### The second way is inserting all of the fields into a table without specifying the column names in the SQL query. however, make sure the order of the values is in the same order as the columns in the table.

<code>INSERT INTO table_name (column1, column2, column3, ...)
VALUES (value1, value2, value3, ...);</code>
<br><b>OR</b><br>
<code>INSERT INTO table_name
VALUES (value1, value2, value3, ...);</code>

## INSERT INTO Example

#### The following SQL statement inserts a new record in the Customers table:

In [26]:
%%sql
INSERT INTO Customers (CustomerID, CompanyName, ContactName, address, City, PostalCode, Country)
VALUES ('CART1','Cardinal', 'Tom B. Erichsen', 'Skagen 21','Stavanger', '4006', 'Norway');

 * sqlite:///northwind.db
(sqlite3.OperationalError) no such table: Customers
[SQL: INSERT INTO Customers (CustomerID, CompanyName, ContactName, address, City, PostalCode, Country)
VALUES ('CART1','Cardinal', 'Tom B. Erichsen', 'Skagen 21','Stavanger', '4006', 'Norway');]
(Background on this error at: http://sqlalche.me/e/13/e3q8)

In [27]:
%%sql
INSERT INTO Customers
VALUES ('CART2','Cardinal', 'Tom B. Erichsen', 'Skagen 21','Stavanger', '4006', 'Norway',NULL,NULL,NULL,NULL);

 * sqlite:///northwind.db
(sqlite3.OperationalError) no such table: Customers
[SQL: INSERT INTO Customers VALUES ('CART2','Cardinal', 'Tom B. Erichsen', 'Skagen 21','Stavanger', '4006', 'Norway',NULL,NULL,NULL,NULL);]
(Background on this error at: http://sqlalche.me/e/13/e3q8)

In [28]:
%%sql

SELECT * FROM Customers
WHERE CustomerID='CART1'

 * sqlite:///northwind.db
(sqlite3.OperationalError) no such table: Customers
[SQL: SELECT * FROM Customers
WHERE CustomerID='CART1']
(Background on this error at: http://sqlalche.me/e/13/e3q8)

### Exercise 4
#### Check whether the previous record is inserted or not?

In [29]:
%%sql

SELECT * FROM Customers
WHERE CustomerID='CART2'

 * sqlite:///northwind.db
(sqlite3.OperationalError) no such table: Customers
[SQL: SELECT * FROM Customers
WHERE CustomerID='CART2']
(Background on this error at: http://sqlalche.me/e/13/e3q8)

## SQL NULL Values

### What is a NULL Value?
#### A field with no value is a NULL value field. NULL value is different from a zero value or a field that contain spaces.

### IS NULL and IS NOT NULL
#### To test a NULL values, we can't use comparision operators, such as =,<, or <>. So we have to use the <b>IS NULL</b> or <b>IS NOT NULL</b> operators instead.

### The following SQL statement uses the IS NULL operator to list all customers that have no address:

In [30]:
%%sql
SELECT * FROM Customers
WHERE Address IS NULL

 * sqlite:///northwind.db
(sqlite3.OperationalError) no such table: Customers
[SQL: SELECT * FROM Customers
WHERE Address IS NULL]
(Background on this error at: http://sqlalche.me/e/13/e3q8)

## SQL Update Statement

#### The UPDATE statement is used to modify the existing records in a table.

### UPDATE Syntax
<br><code>UPDATE table_name
SET column1 = value1, column2 = value2, ...
WHERE condition;</code>

In [31]:
%%sql
UPDATE Customers
SET PostalCode = '4040'
WHERE CustomerID = 'CART1'

 * sqlite:///northwind.db
(sqlite3.OperationalError) no such table: Customers
[SQL: UPDATE Customers SET PostalCode = '4040'
WHERE CustomerID = 'CART1']
(Background on this error at: http://sqlalche.me/e/13/e3q8)

In [32]:
%%sql

SELECT * FROM Customers
WHERE CustomerID = 'CART1'

 * sqlite:///northwind.db
(sqlite3.OperationalError) no such table: Customers
[SQL: SELECT * FROM Customers
WHERE CustomerID = 'CART1']
(Background on this error at: http://sqlalche.me/e/13/e3q8)

### Exercise 5
#### Write a SQL statement to update country name of 'Tom B. Erichsen' from 'Cardinal' Company to "Netherlands".

In [33]:
%%sql
UPDATE Customers
SET Country = 'Netherlands'
WHERE CompanyName = 'Cardinal' AND ContactName = 'Tom B. Erichsen'

 * sqlite:///northwind.db
(sqlite3.OperationalError) no such table: Customers
[SQL: UPDATE Customers SET Country = 'Netherlands'
WHERE CompanyName = 'Cardinal' AND ContactName = 'Tom B. Erichsen']
(Background on this error at: http://sqlalche.me/e/13/e3q8)

In [34]:
%%sql
SELECT * FROM Customers
WHERE CompanyName = 'Cardinal' AND ContactName = 'Tom B. Erichsen'

 * sqlite:///northwind.db
(sqlite3.OperationalError) no such table: Customers
[SQL: SELECT * FROM Customers
WHERE CompanyName = 'Cardinal' AND ContactName = 'Tom B. Erichsen']
(Background on this error at: http://sqlalche.me/e/13/e3q8)

### Update Multiple Records

#### There WHERE clause determines how many records that will be updated
### Exercise 6
##### Write a SQL statement to update the ContactName to "Julio Iglesias" for all records where country is "Mexico":

In [35]:
%%sql
SELECT * FROM Customers
WHERE Country = 'Mexico'

 * sqlite:///northwind.db
(sqlite3.OperationalError) no such table: Customers
[SQL: SELECT * FROM Customers
WHERE Country = 'Mexico']
(Background on this error at: http://sqlalche.me/e/13/e3q8)

In [36]:
%%sql
UPDATE Customers
SET ContactName = 'Julio Iglesias'
WHERE Country = 'Mexico'

 * sqlite:///northwind.db
(sqlite3.OperationalError) no such table: Customers
[SQL: UPDATE Customers SET ContactName = 'Julio Iglesias'
WHERE Country = 'Mexico']
(Background on this error at: http://sqlalche.me/e/13/e3q8)

In [37]:
%%sql
SELECT * FROM Customers
WHERE Country = 'Mexico'

 * sqlite:///northwind.db
(sqlite3.OperationalError) no such table: Customers
[SQL: SELECT * FROM Customers
WHERE Country = 'Mexico']
(Background on this error at: http://sqlalche.me/e/13/e3q8)

### Be careful when updating records. If you omit the WHERE clause, ALL records get updated!

## SQL DELETE Statement

### The DELETE statament is used to delete existing records in a table.

<code>DELETE FROM table_name
WHERE condition;
</code>

#### Caution! If you omit the WHERE clause, all records in the table will be deleted.

### Exercise 7
#### Write a query to delete Lionel Messi record. (his CustomerID is 'BARCAS')

In [38]:
%%sql
DELETE FROM Customers
WHERE CustomerID='BARCAS'

 * sqlite:///northwind.db
(sqlite3.OperationalError) no such table: Customers
[SQL: DELETE FROM Customers WHERE CustomerID='BARCAS']
(Background on this error at: http://sqlalche.me/e/13/e3q8)

In [39]:
%%sql
SELECT * FROM Customers
WHERE CustomerID = 'BARCAS'

 * sqlite:///northwind.db
(sqlite3.OperationalError) no such table: Customers
[SQL: SELECT * FROM Customers
WHERE CustomerID = 'BARCAS']
(Background on this error at: http://sqlalche.me/e/13/e3q8)

### Restore the database with these commands

In [40]:
%%sql

UPDATE Customers
SET Country = 'Norway'
WHERE CompanyName = 'Cardinal' AND ContactName = 'Tom B. Erichsen';

UPDATE Customers
SET ContactName = 'Ana Trujillo'
WHERE CustomerID = 'ANATR';

UPDATE Customers
SET ContactName = 'Inigo Montoya'
WHERE CustomerID = 'ANTON';

UPDATE Customers
SET ContactName = 'Antonio Banderas'
WHERE CustomerID = 'CENTC';

UPDATE Customers
SET ContactName = 'Salma Hayek'
WHERE CustomerID = 'PERIC';

UPDATE Customers
SET ContactName = 'Hugo Sanchis'
WHERE CustomerID = 'TORTU';


INSERT INTO Customers (CustomerID, CompanyName, ContactName, Address, City, PostalCode, Country)
VALUES ('BARCAS','Barcelona CF', 'Lionel Messi', 'Camp Nou','Barcelona', '8028', 'Spain');


DELETE Customers
WHERE CustomerID = CART1;

DELETE Customers
WHERE CustomerID = CART2;

 * sqlite:///northwind.db
(sqlite3.OperationalError) no such table: Customers
[SQL: UPDATE Customers SET Country = 'Norway'
WHERE CompanyName = 'Cardinal' AND ContactName = 'Tom B. Erichsen';]
(Background on this error at: http://sqlalche.me/e/13/e3q8)

#### You can delete all records using <code>DELETE FROM table_name</code>, Please don't try it.  : )

## SQL LIMIT clause

#### The SQL SELECT LIMIT statement is used to retrieve records from one or more tables in a database and limit the number of records returned based on a limit value.

<code>SELECT column_name(s)
FROM table_name
WHERE condition
LIMIT number;</code>

### Exercise 8
#### Write a query to select the first three customers that live in Mexico.

In [41]:
%%sql
SELECT *
FROM Customers
WHERE country = 'Mexico'
LIMIT 3;

 * sqlite:///northwind.db
(sqlite3.OperationalError) no such table: Customers
[SQL: SELECT * FROM Customers
WHERE country = 'Mexico'
LIMIT 3;]
(Background on this error at: http://sqlalche.me/e/13/e3q8)

## SQL MIN() and MAX() Functions

#### The MIN() function returns the smallest value of the selected column.
#### The MAX() function returns the largest value of the selected column.

<code>SELECT <b>MIN</b> or <b>MAX</b>(column_name)
FROM table_name
WHERE condition;</code>

## Exercise 9
#### First get some information on "Products" table, then write a query to return back the cheapest product in this table.

In [42]:
%%sql
SELECT *
FROM Products

 * sqlite:///northwind.db
(sqlite3.OperationalError) no such table: Products
[SQL: SELECT * FROM Products]
(Background on this error at: http://sqlalche.me/e/13/e3q8)

In [43]:
%%sql
SELECT * FROM Products WHERE UnitPrice = (SELECT MIN(UnitPrice) FROM Products)

 * sqlite:///northwind.db
(sqlite3.OperationalError) no such table: Products
[SQL: SELECT * FROM Products WHERE UnitPrice = (SELECT MIN(UnitPrice) FROM Products)]
(Background on this error at: http://sqlalche.me/e/13/e3q8)

## SQL COUNT(), AVG() and SUM() Functions

#### The COUNT() function returns the number of rows that matches a specified criteria.
#### The AVG() function returns the average value of a numeric column.
#### The SUM() function returns the total sum of a numeric column.

### COUNT Syntax
<code>SELECT <b>COUNT</b>(column_name)
FROM table_name
WHERE condition;</code>

### AVG Syntax
<code>SELECT <b>AVG</b>(column_name)
FROM table_name
WHERE condition;</code>

### SUM Syntax
<code>SELECT <b>SUM</b>(column_name)
FROM table_name
WHERE condition;</code>

### Exercise 10
#### How many products do we have in our database?

In [44]:
%%sql
Select COUNT(ProductID) FROM Products;

 * sqlite:///northwind.db
(sqlite3.OperationalError) no such table: Products
[SQL: Select COUNT(ProductID) FROM Products;]
(Background on this error at: http://sqlalche.me/e/13/e3q8)

### Exercise 11
#### Write a SQL statement to find the average price of all products?

In [45]:
%%sql
Select ROUND(AVG(UnitPrice), 2) FROM Products;

 * sqlite:///northwind.db
(sqlite3.OperationalError) no such table: Products
[SQL: Select ROUND(AVG(UnitPrice), 2) FROM Products;]
(Background on this error at: http://sqlalche.me/e/13/e3q8)

### Exercise 12
#### How many quantities have the customers ordered?

In [46]:
%%sql
Select sum(UnitsOnOrder) FROM Products;

 * sqlite:///northwind.db
(sqlite3.OperationalError) no such table: Products
[SQL: Select sum(UnitsOnOrder) FROM Products;]
(Background on this error at: http://sqlalche.me/e/13/e3q8)

## SQL LIKE Operator

#### The LIKE operator is used in a WHERE clause to search for a specified pattern in a column.
#### There are two wildcards used in conjunction with the LIKE operator:
##### % : The percent sign is used to represent zero, one, or multiple characters.
##### _ : The underscore sign is used to represent a single character.

<code>SELECT column1, column2, ...
FROM table_name
WHERE columnN <b>LIKE</b> pattern;</code>

### Exercise 13-19
#### Write a query to...in Customers table.

- Find any values that start with "a"
- Find any values that end with "a"
- Find any values that have "or" in any position
- Find any values that have "r" in the second position
- Find any values that start with "a" and are at least 3 characters in length
- Find any values that start with "a" and ends with "o"
- Find any values that does NOT start with "a"

### Find any values that start with "a"

In [47]:
%%sql
SELECT * FROM Customers
WHERE ContactName LIKE 'a%'

 * sqlite:///northwind.db
(sqlite3.OperationalError) no such table: Customers
[SQL: SELECT * FROM Customers
WHERE ContactName LIKE 'a%']
(Background on this error at: http://sqlalche.me/e/13/e3q8)

### Find any values that end with "a"

In [48]:
%%sql
SELECT * FROM Customers
WHERE ContactName LIKE '%a'

 * sqlite:///northwind.db
(sqlite3.OperationalError) no such table: Customers
[SQL: SELECT * FROM Customers
WHERE ContactName LIKE '%a']
(Background on this error at: http://sqlalche.me/e/13/e3q8)

### Find any values that have "or" in any position

In [49]:
%%sql
SELECT * FROM Customers
WHERE ContactName LIKE '%or%'

 * sqlite:///northwind.db
(sqlite3.OperationalError) no such table: Customers
[SQL: SELECT * FROM Customers
WHERE ContactName LIKE '%or%']
(Background on this error at: http://sqlalche.me/e/13/e3q8)

### Find any values that have "r" in the second position

In [50]:
%%sql
SELECT * FROM Customers
WHERE ContactName LIKE '_r%'

 * sqlite:///northwind.db
(sqlite3.OperationalError) no such table: Customers
[SQL: SELECT * FROM Customers
WHERE ContactName LIKE '_r%']
(Background on this error at: http://sqlalche.me/e/13/e3q8)

### Find any values that start with "a" and are at least 3 characters in length

In [51]:
%%sql
SELECT * FROM Customers
WHERE ContactName LIKE 'a__%'

 * sqlite:///northwind.db
(sqlite3.OperationalError) no such table: Customers
[SQL: SELECT * FROM Customers
WHERE ContactName LIKE 'a__%']
(Background on this error at: http://sqlalche.me/e/13/e3q8)

### Find any values that start with "a" and ends with "o"

In [52]:
%%sql
SELECT * FROM Customers
WHERE ContactName LIKE ('a%' and '%o')

 * sqlite:///northwind.db
(sqlite3.OperationalError) no such table: Customers
[SQL: SELECT * FROM Customers
WHERE ContactName LIKE ('a%' and '%o')]
(Background on this error at: http://sqlalche.me/e/13/e3q8)

### Find any values that does NOT start with "a"

In [53]:
%%sql
SELECT * FROM Customers
WHERE ContactName NOT LIKE 'a%'

 * sqlite:///northwind.db
(sqlite3.OperationalError) no such table: Customers
[SQL: SELECT * FROM Customers
WHERE ContactName NOT LIKE 'a%']
(Background on this error at: http://sqlalche.me/e/13/e3q8)

## SQL IN Operator

#### The IN operator allows you to specify multiple values in a WHERE clause. The IN operator is a shorthand for multiple OR conditions.

<code>SELECT column_name(s)
FROM table_name
WHERE column_name IN (value1, value2, ...);</code>
<br><b>Or</b><br>
<code>SELECT column_name(s)
FROM table_name
WHERE column_name IN (SELECT STATEMENT);
</code>

### Exercise 20
#### Write a SELECT statement to get all customers located in "Germany", "USA", and "France":

In [54]:
%%sql
SELECT Country FROM Customers
WHERE Country='Germany' OR Country='USA' OR Country='France'

 * sqlite:///northwind.db
(sqlite3.OperationalError) no such table: Customers
[SQL: SELECT Country FROM Customers
WHERE Country='Germany' OR Country='USA' OR Country='France']
(Background on this error at: http://sqlalche.me/e/13/e3q8)

In [55]:
%%sql
SELECT COUNT(Country) FROM Customers
WHERE Country IN ('Germany','USA','France')

 * sqlite:///northwind.db
(sqlite3.OperationalError) no such table: Customers
[SQL: SELECT COUNT(Country) FROM Customers
WHERE Country IN ('Germany','USA','France')]
(Background on this error at: http://sqlalche.me/e/13/e3q8)

In [56]:
%%sql
SELECT Country FROM Customers
WHERE Country IN ('Germany','USA','France')

 * sqlite:///northwind.db
(sqlite3.OperationalError) no such table: Customers
[SQL: SELECT Country FROM Customers
WHERE Country IN ('Germany','USA','France')]
(Background on this error at: http://sqlalche.me/e/13/e3q8)

### Exercise 21
#### Write a SELECT statement to get all customers from the same countries as the suppliers: (USe IN(Select Statement...) also known as Subquery:

## SQL BETWEEN Operator

#### The BETWEEN operator selects values within a given range. 
##### The BETWEEN operator is inclusive: begin and end values are included. The values can be numbers, text, or dates.

### BETWEEN Syntax
<code>SELECT column_name(s)
FROM table_name
WHERE column_name BETWEEN value1 AND value2;</code>

### Exercise 22
#### Write a SELECT statement to get all products with a price BETWEEN 5 and 15:

In [57]:
%%sql
SELECT * FROM Products
WHERE UnitPrice BETWEEN 5 AND 15;

 * sqlite:///northwind.db
(sqlite3.OperationalError) no such table: Products
[SQL: SELECT * FROM Products
WHERE UnitPrice BETWEEN 5 AND 15;]
(Background on this error at: http://sqlalche.me/e/13/e3q8)

### Exercise 23
#### Write a SELECT statement to get all products that their price are not BETWEEN 5 and 15, and their CategoryID are not 1,2, or 3 :

In [58]:
%%sql
SELECT * FROM Products
WHERE (UnitPrice NOT BETWEEN 5 AND 15) AND (CategoryID NOT IN (1,2,3))

 * sqlite:///northwind.db
(sqlite3.OperationalError) no such table: Products
[SQL: SELECT * FROM Products
WHERE (UnitPrice NOT BETWEEN 5 AND 15) AND (CategoryID NOT IN (1,2,3))]
(Background on this error at: http://sqlalche.me/e/13/e3q8)

### Exercise 24
#### Write a query to SELECT all orders with an OrderDate BETWEEN '16-July-1996' and '01-August-1996':

In [59]:
%%sql

SELECT *
FROM Orders
WHERE OrderDate BETWEEN '1996-07-16' AND '1996-08-01'

 * sqlite:///northwind.db
(sqlite3.OperationalError) no such table: Orders
[SQL: SELECT * FROM Orders
WHERE OrderDate BETWEEN '1996-07-16' AND '1996-08-01']
(Background on this error at: http://sqlalche.me/e/13/e3q8)

## SQL Aliases

#### SQL aliases are used to give a table, or a column in a table, a temporary name. You can use aliases to make your column names more readable. 
#### Look at this example:

In [60]:
%%sql
SELECT CustomerID as ID, CompanyName as Customer
FROM Customers;

 * sqlite:///northwind.db
(sqlite3.OperationalError) no such table: Customers
[SQL: SELECT CustomerID as ID, CompanyName as Customer
FROM Customers;]
(Background on this error at: http://sqlalche.me/e/13/e3q8)

#### When an alias name consists of two or more parts, you should put it into square brackets.

In [61]:
%%sql
SELECT CustomerID as ID, ContactName as [Contact Person]
FROM Customers;

 * sqlite:///northwind.db
(sqlite3.OperationalError) no such table: Customers
[SQL: SELECT CustomerID as ID, ContactName as [Contact Person]
FROM Customers;]
(Background on this error at: http://sqlalche.me/e/13/e3q8)

#### We can merge some fields and then give them an alias name. Look at this example.

In [62]:
%%sql
SELECT CompanyName, printf('%s, %s, %s, %s',Address, PostalCode,City,Country) AS Address
FROM Customers;

 * sqlite:///northwind.db
(sqlite3.OperationalError) no such table: Customers
[SQL: SELECT CompanyName, printf('%s, %s, %s, %s',Address, PostalCode,City,Country) AS Address
FROM Customers;]
(Background on this error at: http://sqlalche.me/e/13/e3q8)

#### We also can use alias names for our tables, look at the example.
/*selects all the orders of the Around the Horn company*/

In [63]:
%%sql
SELECT o.OrderID, o.OrderDate, c.CompanyName
FROM Customers AS c, Orders AS o
WHERE c.CompanyName="Around the Horn" AND c.CustomerID=o.CustomerID;

 * sqlite:///northwind.db
(sqlite3.OperationalError) no such table: Customers
[SQL: SELECT o.OrderID, o.OrderDate, c.CompanyName
FROM Customers AS c, Orders AS o
WHERE c.CompanyName="Around the Horn" AND c.CustomerID=o.CustomerID;]
(Background on this error at: http://sqlalche.me/e/13/e3q8)

In [64]:
%%sql
SELECT o.OrderID, o.OrderDate, c.CompanyName
FROM Customers AS c
INNER JOIN Orders as o 
ON c.CustomerID=o.CustomerID
WHERE c.CompanyName="Around the Horn"

 * sqlite:///northwind.db
(sqlite3.OperationalError) no such table: Customers
[SQL: SELECT o.OrderID, o.OrderDate, c.CompanyName
FROM Customers AS c
INNER JOIN Orders as o
ON c.CustomerID=o.CustomerID
WHERE c.CompanyName="Around the Horn"]
(Background on this error at: http://sqlalche.me/e/13/e3q8)

## SQL JOIN

#### A JOIN clause is used to combine rows from two or more tables, based on a related column between them. Let's look at a selection from the "Orders" table:

<table>
  <tbody><tr>
    <th style="width:15%">OrderID</th>
    <th>CustomerID</th>
    <th>OrderDate</th>
  </tr>
  <tr>
    <td>10308</td>
    <td>VINET</td>
    <td>1996-09-18</td>
  </tr>
  <tr>
    <td>10309</td>
    <td>TOMSP</td>
    <td>1996-09-19</td>
  </tr>
  <tr>
    <td>10310</td>
    <td>HANAR</td>
    <td>1996-09-20</td>
  </tr>
</tbody></table>

#### Then, look at a selection from the Custmers table:

<table> <tbody><tr> <th>CustomerID</th> <th>CompanyName</th> <th>ContactName</th> <th>Country</th> </tr> <tr> <td>ALFKI</td> <td>Alfreds Futterkiste</td> <td>Maria Anders</td> <td>Germany</td> </tr> <tr> <td>BLAUS</td> <td>Blauer See Delikatessen</td> <td>Hanna Moos</td> <td>Germany</td> </tr> <tr> <td>BLONP</td> <td>Blondesddsl père et fils</td> <td>Frédérique Citeaux</td> <td>France</td> </tr> <tr> <td>BONAP</td> <td>Bon app'</td> <td>Laurence Lebihan</td> <td>France</td> </tr> <tr> <td>DRACD</td> <td>Drachenblut Delikatessen</td> <td>Sven Ottlieb</td> <td>Germany</td> </tr> <tr> <td>DUMON</td> <td>Du monde entier</td> <td>Janine Labrune</td> <td>France</td> </tr> <tr> <td>FOLIG</td> <td>Folies gourmandes</td> <td>Martine Rancé</td> <td>France</td> </tr> </tbody></table>
  </tr>
</tbody></table>

#### Notice that the "CustomerID" column in the "Orders" table refers to the "CustomerID" in the "Customers" table. The relationship between the two tables above is the "CustomerID" column.

#### Then, we can create the following SQL statement (that contains an INNER JOIN), that selects records that have matching values in both tables:

In [65]:
%%sql
SELECT c.CompanyName, o.OrderID, o.OrderDate
FROM Orders as o INNER JOIN Customers as c 
ON o.CustomerID=c.CustomerID
ORDER BY c.CompanyName

 * sqlite:///northwind.db
(sqlite3.OperationalError) no such table: Orders
[SQL: SELECT c.CompanyName, o.OrderID, o.OrderDate
FROM Orders as o INNER JOIN Customers as c
ON o.CustomerID=c.CustomerID
ORDER BY c.CompanyName]
(Background on this error at: http://sqlalche.me/e/13/e3q8)

In [66]:
%%sql
SELECT o.OrderID, c.CompanyName, o.OrderDate
FROM Orders as o INNER JOIN Customers as c 
ON o.CustomerID=c.CustomerID
WHERE c.CompanyName='Hanari Carnes';

 * sqlite:///northwind.db
(sqlite3.OperationalError) no such table: Orders
[SQL: SELECT o.OrderID, c.CompanyName, o.OrderDate
FROM Orders as o INNER JOIN Customers as c
ON o.CustomerID=c.CustomerID
WHERE c.CompanyName='Hanari Carnes';]
(Background on this error at: http://sqlalche.me/e/13/e3q8)

## SQL INNER JOIN

#### This type of join selects rows that have matching values in both tables.

<img src="https://www.w3schools.com/sql/img_innerjoin.gif">

##### The INNER JOIN keyword selects all rows from both tables as long as there is a match between the columns. If there are records in the "Orders" table that do not have matches in "Customers", these orders will not be shown!

In [67]:
%sql select * from products

 * sqlite:///northwind.db
(sqlite3.OperationalError) no such table: products
[SQL: select * from products]
(Background on this error at: http://sqlalche.me/e/13/e3q8)

In [68]:
%sql select * from suppliers

 * sqlite:///northwind.db
(sqlite3.OperationalError) no such table: suppliers
[SQL: select * from suppliers]
(Background on this error at: http://sqlalche.me/e/13/e3q8)

### Exercise 25
#### Write a SQL inner join statement to list all product's name of one supplier.

In [69]:
%%sql
SELECT p.ProductName, s.CompanyName as [Supplier Name] 
FROM Products as p INNER JOIN Suppliers as s
ON p.SupplierID=s.SupplierID
WHERE s.CompanyName = 'Exotic Liquids'

 * sqlite:///northwind.db
(sqlite3.OperationalError) no such table: Products
[SQL: SELECT p.ProductName, s.CompanyName as [Supplier Name]
FROM Products as p INNER JOIN Suppliers as s
ON p.SupplierID=s.SupplierID
WHERE s.CompanyName = 'Exotic Liquids']
(Background on this error at: http://sqlalche.me/e/13/e3q8)

### Exercise 26
#### Write a SQL statement to list all orders of each customer.

In [70]:
%%sql
SELECT c.CompanyName, COUNT(o.OrderID) AS [Number of Orders]
FROM ORders as o INNER JOIN Customers AS c
ON o.CustomerID=c.CustomerID
GROUP BY c.CompanyName
ORDER BY [Number of Orders] desc

 * sqlite:///northwind.db
(sqlite3.OperationalError) no such table: ORders
[SQL: SELECT c.CompanyName, COUNT(o.OrderID) AS [Number of Orders]
FROM ORders as o INNER JOIN Customers AS c
ON o.CustomerID=c.CustomerID
GROUP BY c.CompanyName
ORDER BY [Number of Orders] desc]
(Background on this error at: http://sqlalche.me/e/13/e3q8)

## SQL LEFT JOIN

#### The LEFT JOIN keyword returns all records from the left table (table1), and the matched records from the right table (table2). The result is NULL from the right side, if there is no match.

### LEFT JOIN Syntax
<code>SELECT column_name(s)
FROM table1 LEFT JOIN table2 
ON table1.column_name = table2.column_name;</code>

<img src="https://www.w3schools.com/sql/img_leftjoin.gif">

### Exercise 27
#### Write a SQL statement to select all customers, and any orders they might have.

In [71]:
%%sql
SELECT c.CompanyName, o.OrderID
FROM Customers as c
LEFT JOIN Orders as o
ON c.CustomerID = o.CustomerID

 * sqlite:///northwind.db
(sqlite3.OperationalError) no such table: Customers
[SQL: SELECT c.CompanyName, o.OrderID FROM Customers as c
LEFT JOIN Orders as o
ON c.CustomerID = o.CustomerID]
(Background on this error at: http://sqlalche.me/e/13/e3q8)

##### The LEFT JOIN keyword returns all records from the left table (Customers), even if there are no matches in the right table (Orders).

## SQL RIGHT JOIN
#### The RIGHT JOIN keyword returns all records from the right table (table2), and the matched records from the left table (table1). The result is NULL from the left side, when there is no match.

### RIGHT JOIN Syntax

<code>SELECT column_name(s)
FROM table1
RIGHT JOIN table2 ON table1.column_name = table2.column_name;</code>

<img src="https://www.w3schools.com/sql/img_rightjoin.gif">

#### Write a SQL statement that return all employees, and any orders they might have placed.

In [72]:
%%sql
SELECT o.OrderID, e.LastName, e.FirstName
FROM Orders as o
RIGHT JOIN Employees as e ON o.EmployeeID = e.EmployeeID
ORDER BY o.OrderID;

 * sqlite:///northwind.db
(sqlite3.OperationalError) RIGHT and FULL OUTER JOINs are not currently supported
[SQL: SELECT o.OrderID, e.LastName, e.FirstName
FROM Orders as o
RIGHT JOIN Employees as e ON o.EmployeeID = e.EmployeeID
ORDER BY o.OrderID;]
(Background on this error at: http://sqlalche.me/e/13/e3q8)

## SQL FULL OUTER JOIN

#### The FULL OUTER JOIN keyword return all records when there is a match in either left (table1) or right (table2) table records.

### FULL OUTER JOIN Syntax

<code>SELECT column_name(s)
FROM table1
FULL OUTER JOIN table2 ON table1.column_name = table2.column_name;</code>

<img src="https://www.w3schools.com/sql/img_fulljoin.gif">

#### Write a SQL statement to select all customers, and all orders

In [73]:
%%sql
SELECT Customers.CompanyName, Orders.OrderID
FROM Customers
FULL OUTER JOIN Orders ON Customers.CustomerID=Orders.CustomerID
ORDER BY Customers.CompanyName;

 * sqlite:///northwind.db
(sqlite3.OperationalError) RIGHT and FULL OUTER JOINs are not currently supported
[SQL: SELECT Customers.CompanyName, Orders.OrderID FROM Customers
FULL OUTER JOIN Orders ON Customers.CustomerID=Orders.CustomerID
ORDER BY Customers.CompanyName;]
(Background on this error at: http://sqlalche.me/e/13/e3q8)

## SQL GROUP BY

#### The GROUP BY statement is often used with aggregate functions (COUNT, MAX, MIN, SUM, AVG) to group the result-set by one or more columns.

### GROUP BY Syntax

<code>SELECT column_name(s)
FROM table_name
WHERE condition
GROUP BY column_name(s)
ORDER BY column_name(s);</code>

### Exercise 28

#### Write a SQL statement to list the number of customers in each country:

In [74]:
%%sql
SELECT c.Country, count(c.CompanyName) as [Number of Customers]
FROM Customers as c
GROUP BY Country

 * sqlite:///northwind.db
(sqlite3.OperationalError) no such table: Customers
[SQL: SELECT c.Country, count(c.CompanyName) as [Number of Customers]
FROM Customers as c
GROUP BY Country]
(Background on this error at: http://sqlalche.me/e/13/e3q8)

### Exercise 29
#### Write a SQL statement to list the number of customers in each country, sorted high to low:

In [75]:
%%sql
SELECT Country, count(*) as [Number of Customers]
FROM Customers 
GROUP BY Country
ORDER BY [Number of Customers] DESC

 * sqlite:///northwind.db
(sqlite3.OperationalError) no such table: Customers
[SQL: SELECT Country, count(*) as [Number of Customers]
FROM Customers
GROUP BY Country
ORDER BY [Number of Customers] DESC]
(Background on this error at: http://sqlalche.me/e/13/e3q8)

### Exercise 30
#### Write a SQL statement to list the number of orders of each customer.

In [76]:
%%sql
SELECT CompanyName, COUNT(o.OrderID) AS [Number of Orders]
FROM Orders o
INNER JOIN Customers c
ON o.CustomerID = o.CustomerID
GROUP BY c.CompanyName
ORDER BY [Number of Orders] DESC

 * sqlite:///northwind.db
(sqlite3.OperationalError) no such table: Orders
[SQL: SELECT CompanyName, COUNT(o.OrderID) AS [Number of Orders]
FROM Orders o
INNER JOIN Customers c
ON o.CustomerID = o.CustomerID
GROUP BY c.CompanyName
ORDER BY [Number of Orders] DESC]
(Background on this error at: http://sqlalche.me/e/13/e3q8)

In [77]:
%%sql
SELECT c.CompanyName, count(o.OrderID) as [Number of Orders]
FROM Customers as c
LEFT JOIN Orders as o
ON c.CustomerID = o.CustomerID
GROUP BY CompanyName
ORDER BY [Number of Orders] DESC;

 * sqlite:///northwind.db
(sqlite3.OperationalError) no such table: Customers
[SQL: SELECT c.CompanyName, count(o.OrderID) as [Number of Orders]
FROM Customers as c
LEFT JOIN Orders as o
ON c.CustomerID = o.CustomerID
GROUP BY CompanyName
ORDER BY [Number of Orders] DESC;]
(Background on this error at: http://sqlalche.me/e/13/e3q8)

## SQL HAVING Clause

#### The HAVING clause was added to SQL because the WHERE keyword could not be used with aggregate functions.

### HAVING Syntax

<code>SELECT column_name(s)
FROM table_name
WHERE condition
GROUP BY column_name(s)
HAVING condition
ORDER BY column_name(s);</code>

### Exercise 31
#### Write a SQL statement to list the number of customers in each country. Only include countries with more than 5 customers, and then sort them from high to low.

In [78]:
%%sql
SELECT c.Country, count(c.CompanyName) as [Number of Customers]
FROM Customers as c
GROUP BY Country
HAVING [Number of Customers] > 5
ORDER BY [Number of Customers] DESC;

 * sqlite:///northwind.db
(sqlite3.OperationalError) no such table: Customers
[SQL: SELECT c.Country, count(c.CompanyName) as [Number of Customers]
FROM Customers as c
GROUP BY Country
HAVING [Number of Customers] > 5
ORDER BY [Number of Customers] DESC;]
(Background on this error at: http://sqlalche.me/e/13/e3q8)

### Exercise 32
#### Write a SQL statement to list the employees that have registered more than 50 orders:

In [79]:
%%sql
SELECT e.LastName, e.FirstName, count(o.OrderID) as [Number of Orders]
FROM Employees as e
INNER JOIN Orders as o
ON e.EmployeeID = o.EmployeeID
GROUP BY LastName
HAVING [Number of Orders] > 50
ORDER BY [Number of Orders] DESC

 * sqlite:///northwind.db
(sqlite3.OperationalError) no such table: Employees
[SQL: SELECT e.LastName, e.FirstName, count(o.OrderID) as [Number of Orders]
FROM Employees as e
INNER JOIN Orders as o
ON e.EmployeeID = o.EmployeeID
GROUP BY LastName
HAVING [Number of Orders] > 50
ORDER BY [Number of Orders] DESC]
(Background on this error at: http://sqlalche.me/e/13/e3q8)

In [80]:
%%sql
SELECT e.EmployeeID, COUNT(OrderID) as [Number of Orders]
FROM Orders as o
INNER JOIN Employees as e
ON o.EmployeeID = e.EmployeeID
GROUP BY o.EmployeeID
HAVING [Number of Orders] > 50
ORDER BY [Number of Orders] DESC;

 * sqlite:///northwind.db
(sqlite3.OperationalError) no such table: Orders
[SQL: SELECT e.EmployeeID, COUNT(OrderID) as [Number of Orders]
FROM Orders as o
INNER JOIN Employees as e
ON o.EmployeeID = e.EmployeeID
GROUP BY o.EmployeeID
HAVING [Number of Orders] > 50
ORDER BY [Number of Orders] DESC;]
(Background on this error at: http://sqlalche.me/e/13/e3q8)

## SQL EXISTS

#### The EXISTS operator is used to test for the existence of any record in a subquery.
#### The EXISTS operator returns true if the subquery returns one or more records.

### EXISTS Syntax

<code>SELECT column_name(s)
FROM table_name
WHERE EXISTS
(SELECT column_name FROM table_name WHERE condition);</code>

### Exercise 33
#### Write a SQL statement to list the suppliers with a product price less than 20

In [81]:
%%sql
SELECT * FROM Products
LIMIT 3

 * sqlite:///northwind.db
(sqlite3.OperationalError) no such table: Products
[SQL: SELECT * FROM Products
LIMIT 3]
(Background on this error at: http://sqlalche.me/e/13/e3q8)

In [82]:
%%sql
SELECT * FROM Suppliers
LIMIT 3

 * sqlite:///northwind.db
(sqlite3.OperationalError) no such table: Suppliers
[SQL: SELECT * FROM Suppliers
LIMIT 3]
(Background on this error at: http://sqlalche.me/e/13/e3q8)

In [83]:
%%sql
SELECT s.CompanyName
FROM Suppliers as s
INNER JOIN Products as p
ON s.SupplierID = p.SupplierID
WHERE EXISTS
(SELECT p.SupplierID FROM Products WHERE p.UnitPrice<20)

 * sqlite:///northwind.db
(sqlite3.OperationalError) no such table: Suppliers
[SQL: SELECT s.CompanyName FROM Suppliers as s
INNER JOIN Products as p
ON s.SupplierID = p.SupplierID
WHERE EXISTS
(SELECT p.SupplierID FROM Products WHERE p.UnitPrice<20)]
(Background on this error at: http://sqlalche.me/e/13/e3q8)

In [84]:
%%sql
SELECT DISTINCT s.CompanyName
FROM Products as p
INNER JOIN Suppliers as s
ON p.SupplierID = s.SUpplierID
WHERE p.UnitPrice < 20
ORDER BY s.COmpanyName;

 * sqlite:///northwind.db
(sqlite3.OperationalError) no such table: Products
[SQL: SELECT DISTINCT s.CompanyName FROM Products as p
INNER JOIN Suppliers as s
ON p.SupplierID = s.SUpplierID
WHERE p.UnitPrice < 20
ORDER BY s.COmpanyName;]
(Background on this error at: http://sqlalche.me/e/13/e3q8)

## SQL ANY and ALL Operators

#### The ANY and ALL operators are used with a WHERE or HAVING clause.

#### The ANY operator returns true if any of the subquery values meet the condition.

#### The ALL operator returns true if all of the subquery values meet the condition.

### ANY Syntax

<code>SELECT column_name(s)
FROM table_name
WHERE column_name operator ANY
(SELECT column_name FROM table_name WHERE condition);</code>

### ALL Syntax

<code>SELECT column_name(s)
FROM table_name
WHERE column_name operator ALL
(SELECT column_name FROM table_name WHERE condition);</code>

### SQLite doesn't support ANY and ALL. :-)

## Views

<p>A view is nothing more than a SQLite statement that is stored in the database with an associated name. It is actually a composition of a table in the form of a predefined SQLite query.
A view can contain all rows of a table or selected rows from one or more tables. A view can be created from one or many tables which depends on the written SQLite query to create a view.
Views which are kind of virtual tables, allow the users to −
<ul>
    <li>Structure data in a way that users or classes of users find natural or intuitive.</li>
<li>Restrict access to the data such that a user can only see limited data instead of a complete table.</li>
    <li>Summarize data from various tables, which can be used to generate reports.</li>
    </ul>
SQLite views are read-only and thus you may not be able to execute a DELETE, INSERT or UPDATE statement on a view. However, you can create a trigger on a view that fires on an attempt to DELETE, INSERT, or UPDATE a view and do what you need in the body of the trigger.</p>

<code>CREATE [TEMP | TEMPORARY] VIEW view_name AS
SELECT column1, column2.....
FROM table_name
WHERE [condition];</code>

In [85]:
%%sql
DROP VIEW IF EXISTS Current_Product_List;
CREATE VIEW Current_Product_List AS SELECT ProductID, ProductName FROM Products WHERE SupplierID= 2;
SELECT * FROM Current_Product_List;

 * sqlite:///northwind.db
Done.
Done.
(sqlite3.OperationalError) no such table: main.Products
[SQL: SELECT * FROM Current_Product_List;]
(Background on this error at: http://sqlalche.me/e/13/e3q8)

### Data Definition Language (DDL)

DDL deals with the schemas and structures of database. Examples of DDL are CREATE, ALTER, DROP, and TRUNCATE. In this tutorial, we will use DROP to drop a table from the database.

<code>DROP TABLE table_name;</code>

In [86]:
#DROP TABLE Region;